
.weui-cells, .vux-no-group-title
  margin-top 0 !important
  font-size 14px !important
  color #6f778c

.vux-datetime
  color #6f778c !important

.weui-cell
  padding 10px 0 !important

.weui-cells
  &:before
    border-top none !important

.vux-cell-value
  color #333741 !important

.weui-input, .weui-textarea
  color #333741 !important
  font-size 13px !important

.dp-header, .dp-item.dp-right, .vux-popup-header-right
  color #5bbfd3 !important

.weui-cells__title
  color #6f778c !important
  padding 0 !important

.weui-textarea
  &::-webkit-input-placeholder
    color #6f778c
    font-family '微软雅黑'
